body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding: 0 20%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3b5998;
}

.header div {
  display: flex;
  align-items: center;
}

#register {
  color: white;
  height: 30px;
  background-color: #42b72a;
}

.content {
  padding: 0 20%;
  display: flex;
  flex-flow: column;
  /* height: 630px; */
  min-height: calc(100vh - 125px);
  /* align-items: center; */
  justify-content: space-between;
}

.items {
  display: flex;
  justify-content: space-between;
}

.items section {
  background-color: white;
  height: 470px;
  width: 48%;
  /* margin-left: 20px; */
  /* border: 1px solid black; */
  border-radius: 8px;
  text-align: center;
}

.section img {
  margin-top: 20px;
}
.section h3 {
  margin-top: 20px;
}
.section div {
  margin-top: 20px;
  padding: 0 20px;
}
.section button {
  border: darkgray;
  margin-top: 100px;
}

#register {
  margin-left: 10px;
}

.footer {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0; */
}

.footer p {
  margin: 0;
  padding: 0;
}

.footer a {
  margin: 0;
  padding: 0;
}

.footer_firstline {
  /* text-align: center; */

  display: flex;
  flex-direction: row;
}
